.light-theme {
  background-color: #dbeeff;
  color: #1a2c2c;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.light-theme .bodytext{
  border: 5px solid #3283e6;
  background-color: #93bbeb;
  width: 75%;
  padding: 14px;
  margin: 1%;
  box-sizing: border-box;
  display: block;
  float: right;
  text-indent: 5%;
  text-align: justify;
}

.light-theme .sidebar {
  border: 5px solid #3283e6;
  background-color: #93bbeb;
  width: 20%;
  padding: 10px;
  margin: 1%;
  box-sizing: border-box;
  float: left;
  display: block;
}

.light-theme .link {
  color: #1a2c2c;
}

.light-theme img {
  border: 5px solid #327987;
  background-color:#dbeeff;
  margin: 2%;
  padding: 12px;
}

.dark-theme {
  background-color: black;
  color: #d2dfef;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dark-theme .bodytext{
  border: 5px solid #327987;
  background-color: #1a2c2c;
  width: 75%;
  padding: 14px;
  margin: 1%;
  box-sizing: border-box;
  display: block;
  float: right;
  text-indent: 5%;
  text-align: justify;
}

.dark-theme .sidebar {
  border: 5px solid #327987;
  background-color: #1a2c2c;
  width: 20%;
  padding: 10px;
  margin: 1%;
  box-sizing: border-box;
  float: left;
  display: block;
}

.dark-theme .link {
  color: #3283e6;
}

.dark-theme img {
  border: 5px solid #327987;
  background-color:#dbeeff;
  margin: 2%;
  padding: 12px;
}

p {
  font-size: 22px;
}

strong {
  font-size: 115%;
  color: #93bbeb;
}

em {
  font-size: 85%;
  color: #93bbeb;
}

.title { 
  border: 5px solid #327987;
  background-color: #1a2c2c;
  width: auto;
  margin: 15px;
  display: block;
  text-align: center;
}

.sidebar h1 {
  font-size: 24px;
  font-weight: 900;
  margin-left: 10px;
}

.sidebar h2 {
  font-size: 20px;
  font-weight: 900;
}

.bodytext {
  border: 5px solid #327987;
  background-color: #1a2c2c;
  width: 75%;
  padding: 14px;
  margin: 1%;
  box-sizing: border-box;
  display: block;
  float: right;
  text-indent: 5%;
  text-align: justify;
}

.bodytext h2 {
  font-size: 28px;
}

.footer {
  border: 5px solid #327987;
  background-color: #1a2c2c;
  width: 100%;
  padding: 4px;
  margin: 15px;
  box-sizing: border-box;
  display: block;
  float: left;
  text-align: center;
}

img {
  border: 5px solid #327987;
  background-color:#dbeeff;
  margin: auto;
  padding: 12px;
}

.img-right {
  float: right;
  margin-left: 15px;
}

.link {
  color: #3283e6;
}

body {
  background-color: black;
  color: #d2dfef;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
  margin-bottom: 10px;
}

#theme {
  display: none;
}

.btn {
  padding: 0px;
}

.btn img {
  border: none;
  padding: none;
  margin-top: 15%;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  color: black;
}